<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/Home">Offre <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/AddOffre">Add Offre</a>
        <a class="nav-item nav-link"  routerLink="/profil">profil</a>
        <a class="nav-item nav-link"  routerLink="/condidature">condidature</a>

        

      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
                
              <a class="nav-link" (click)="deco()">Sign Out</a>
            </li>
            
          </ul>
        </div>
      
      
    </div>
  </nav>

